<h1>Frontend to Facade API</h1>
<form [formGroup]="todoForm" (ngSubmit)="onSubmit()">
  <div
    style="
      display: flex;
      flex-direction: column;
      gap: 1rem;
      justify-content: flex-start;
    "
  >
    <div>
      <label for="todoId">TODO FINDER</label>
    </div>
    <div>
      <input
        id="todoId"
        formControlName="todoId"
        type="number"
        placeholder="what's the id?"
        autocomplete="false"
      />
    </div>
    <div *ngIf="isLoading; else elseBlock">
      <h3>Sending.. Please wait..</h3>
    </div>
    <ng-template #elseBlock
      ><button style="width: 6rem" type="submit">SEND</button></ng-template
    >
  </div>
</form>
<h4>
  <div *ngIf="todo">
    <div *ngIf="todo.id">ID: {{ todo.id }}</div>
    <div *ngIf="todo.activity">Activity: {{ todo.activity }}</div>
  </div>
</h4>
